<!doctype html>
<title>Python Flask Image Upload and Display Example</title>
<h2>Select an image to upload and display</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if vehicle_info %}
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <nav class="nav nav-masthead justify-content-center">
        <h3 style="font-size:2.5rem;color:blue">Information about vehicle provided is below </h3><br>
        <br>
        <p>{{ vehicle_info }}</p>
      </nav>
    </header>
  </div>
  <br>

<!--  <h4 style="color:blue;display:inline;">Vehile : </h4>-->
<!--  <h4 style="display:inline">{{ carDesc }}</h4><br>-->
<!--  <h4 style="color:blue;display:inline;">Model : </h4>-->
<!--  <h4 style="display:inline">{{ carModel }}</h4>-->

<!--  <hr>-->

<!--  {% for key, value in vehInfo.items() %}-->
<!--  <h4 style="color:blue;display:inline;">{{ key }} : </h4>-->
<!--  <h4 style="display:inline;">{{ value }}</h4><br>-->
<!--  {% endfor %}-->
<!--  <br>-->
<!--  <hr>-->
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>